[submodule "Atmosphere-libs"]
	path = Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs
[submodule "third_party/ftpsrv"]
	path = third_party/ftpsrv
	url = https://github.com/ITotalJustice/ftpsrv.git
